@model NFine.Domain._02_ViewModel.FullOrder

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();

    })
    function initControl() {

        $('#wizard').wizard().on('change', function (e, data) {
            var $finish = $("#btn_finish");
            var $next = $("#btn_next");
            if (data.direction == "next") {
                switch (data.step) {
                    case 1:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        $finish.show();
                        $next.hide();
                        break;
                    default:
                        break;
                }
            } else {
                $finish.hide();
                $next.show();
            }
        });

    }
    function submitForm() {
        
        if ($("#Price2").val() == "") {
            alert("请输入付款金额");
            $("#Price2").focus();
        } else {
            var p1 = parseFloat($("#Price1").val());
            var p2 = parseFloat($("#Price2").val());
            if (p1 != p2) {
                if (confirm("实付金额和应付金额不等，是否继续？")) { //不等额支付
                    var postData = $("#form1").formSerialize();
                    $.submitForm({
                        url: "/MenuSys/Order/PayMoney",
                        param: postData,
                        success: function () {
                            $.currentWindow().$("#gridList").trigger("reloadGrid");

                        }
                    });
                }
            } else { //正常等额支付
                var postData = $("#form1").formSerialize();
                $.submitForm({
                  url: "/MenuSys/Order/PayMoney",
                  param: postData,
                  success: function () {
                      $.currentWindow().$("#gridList").trigger("reloadGrid");
                      }
                });
            }
        }
    }
</script>

<form id="form1">

    <div class="widget-body">
        <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
            <ul class="steps">
                <li data-target="#step-1" class="active"><span class="step">1</span>订单信息<span class="chevron"></span></li>
                <li data-target="#step-2"><span class="step">2</span>支付信息<span class="chevron"></span></li>
            </ul>
        </div>
        <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
            <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">订单信息</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">订单号</th>
                                <td class="formValue">
                                    @Model.Order.OrderNo
                                </td>
                                <th class="formTitle">下单时间</th>
                                <td class="formValue">
                                    @Model.Order.CreateTime
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">台位</th>
                                <td class="formValue">
                                    @Model.Order.Seat
                                </td>
                                <th class="formTitle">人数</th>
                                <td class="formValue">
                                    @Model.Order.PeopleNum
                                </td>
                            </tr>

                            <tr>
                                <th class="formTitle">服务员</th>
                                <td class="formValue">
                                    @Model.Order.MemberName
                                </td>
                                <th class="formTitle">订单状态</th>
                                <td class="formValue">
                                    @Model.Order.OrderState
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">订单总金额</th>
                                <td class="formValue" colspan="3">
                                    @Model.Total
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">订单备注</th>
                                <td class="formValue" colspan="3">
                                    @Model.Order.Dec
                                </td>
                            </tr>
                        </table>

                        <table class="form" cellpadding="4" cellspacing="4">
                            <tr>
                                <th>品名</th>
                                <th>数量</th>
                                <th>单价</th>
                                <th>服务员</th>
                                <th>下单时间</th>
                            </tr>
                            @foreach (var item in Model.OrderDetails)
                            {
                                <tr>
                                    <td>@item.ProductCname</td>
                                    <td>@item.PNum</td>
                                    <td>@item.Price1</td>
                                    <td>@item.MemberName</td>
                                    <td>@item.CreateOn</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-2" style="margin: 10px; margin-bottom: 0px;">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">支付信息</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">订单编号</th>
                                <td class="formValue">
                                    <input id="OrderNo" name="OrderNo" type="text" class="form-control required" readonly="readonly" placeholder="订单编号" value="@Model.Order.OrderNo" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">应付</th>
                                <td class="formValue" align="left">
                                    <input id="Price1" name="Price1" type="text" class="form-control required" readonly="readonly" placeholder="应付金额" value="@Model.Total" />
                                  
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">实付</th>
                                <td class="formValue">
                                    <input id="Price2" name="Price2" type="text" class="form-control required" placeholder="请输入金额" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">备注</th>
                                <td class="formValue">
                                    <textarea id="Dec" name="Dec" class="form-control" style="height: 60px;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-button" id="wizard-actions">
            <a id="btn_last" disabled class="btn btn-default btn-prev">上一步</a>
            <a id="btn_next" class="btn btn-default btn-next">下一步</a>
            <a id="btn_finish" class="btn btn-default" style="display: none;" onclick="submitForm()">完成</a>
        </div>
    </div>



</form>
